<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <form method="post" th:action="@{/user-profile/add}" th:object="${profile}">
        <!-- Имя пользователя -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="name">Имя пользователя</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" required minlength="1" th:field="*{name}"/>
            </div>
        </div>
        <!-- email -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="email">E-mail</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="email" required minlength="1" th:field="*{email}"/>
            </div>
        </div>
        <!-- Рейтинг -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="rate">Рейтинг</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="rate" required minlength="1" th:field="*{rate}"/>
            </div>
        </div>

        <!-- кнопка отправки формы -->
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <button class="btn btn-success form-control">Сохранить</button>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-danger form-control" th:href="@{/user-profile}">Отменить</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>