<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: page-head"></head>
<body>
<div class="row text-center" style="margin-top: 60px">
    <div class="col-2" th:insert="~{fragments/fragments.html :: page-nav(page='add')}"></div>
    <div class="col-10 container-fluid" style="background-color: #F2F3F4">
            <form method="post" th:action="@{/user-profile/add}" th:object="${profile}">
                <h1>Добавление пользователя</h1>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card w-25" style="border-radius: 15px; padding-bottom: 10px">
                        <label for="name" class="form-label">Имя пользователя</label>
                        <div class="mb-3">
                            <input type="text" class="form-label" id="name" th:field="*{name}">
                        </div>
                        <label for="email" class="form-label">Email address</label>
                        <div class="mb-3">
                            <input type="email" class="form-label" id="email" placeholder="name@example.com" th:field="*{email}">
                        </div>
                        <label for="rate" class="form-label">Рейтинг</label>
                        <div class="mb-3">
                            <input type="number" step="any" class="form-label" id="rate" th:field="*{rate}">
                        </div>
                        <label for="wallet" class="form-label">Баланс</label>
                        <div class="mb-3">
                            <input type="number" step="any" class="form-label" id="wallet" th:field="*{wallet}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
                    </div>
                </div>
            </form>
    </div>
</div>
</body>
</html>