<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color: #2779e2;">

<section class="w100 p-3">
    <form method="post" th:action="@{/user-profile/add}" th:object="${profile}">
        <div class="container w-50 text-center">
            <div class="row d-flex justify-content-center align-items-center h-70">
                <div class="col-xl-9">

                    <h1 class="text-white mb-4 text-center">Регистрация</h1>
                    <p class="alert alert-success" th:if="${successMessage !=null}">[[${successMessage}]]</p>
                    <p class="alert alert-danger" th:if="${errorMessage !=null}">[[${dangerMessage}]]</p>
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Имя</h6>

                                </div>
                                <div class="col-md-9 pe-5">

                                    <input type="text" class="form-control form-control-lg" th:field="*{name}"/>

                                </div>
                            </div>

                            <hr class="mx-n3">

                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Email address</h6>

                                </div>
                                <div class="col-md-9 pe-5">

                                    <input type="email" class="form-control form-control-lg" placeholder="example@example.com" th:field="*{email}"/>

                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="container-fluid text-center">
                                <div class="row mb-3">
                                    <div class="col-2"></div>
                                    <div class="col-sm-5">
                                        <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <a class="btn btn-primary btn-lg" th:href="@{/}">Назад</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>