<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User profile list</title>
    <!-- подключения локального bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="text-center">
    <th:block th:insert="~{fragments/fragments.html :: page-header}"></th:block>
    <div class="row">
        <div class="col-2" th:insert="~{fragments/fragments.html :: page-nav(page='profile')}"></div>
        <div class="col-10" style="background-color: #F2F3F4">
            <h1>Список пользователей</h1>
            <p class="alert alert-success" th:if="${successMessage !=null}">[[${successMessage}]]</p>
            <p class="alert alert-danger" th:if="${errorMessage !=null}">[[${dangerMessage}]]</p>
            <table class="table table-bordered border-black" >
            <!-- шапка таблицы -->
                <thead class="table-success border-black">
                    <tr>
                        <th>ИД</th>
                        <th>Имя пользователя</th>
                        <th>Email</th>
                        <th>Рейтинг</th>
                        <th>Баланс</th>
                        <th>Дата регистрации</th>
                    </tr>
                </thead>
                <!-- тело таблицы class="table-primary" table-striped -->
                <tbody>
                    <tr th:each="profile:${profiles}">
                        <td style="background-color: #D0E7DE">[[${profile.id}]]</td>
                        <td>
                            <a th:href="@{'/profile/'+${profile.id}}">[[${profile.name}]]</a>
                        </td>
                        <td>[[${profile.email}]]</td>
                        <td>[[${profile.rate}]]</td>
                        <td>[[${profile.wallet}]]&#8381</td>
                        <td>[[${profile.registrationDate}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>